@use "../../values/colors.scss";
@use "../../values/spacing.scss";

.button-group {
    display: inline-flex;
    flex-direction: column;
    background-color: colors.$dark;
    border-radius: spacing.$x-small;
    overflow: hidden;

    button {
        background-color: transparent;
        border-radius: 0;
        justify-content: flex-start;

        &:not(:last-child) {
            border-bottom: 1px solid colors.$gray;
        }

        &.red {
            color: colors.$red;
        }

        &:active {
            background-color: colors.$gray-dark;
        }
    }
}
